<div>
  <div>
    <%= form_for(@member) do |f| %>
    <%= render 'shared/subscription_error' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Subscribe us" %>
    <% end %>
  </div>
</div>
