<div>
  <div>
    <%= form_for(@member) do |f| %>

      <%= f.label :firstName %>
      <%= f.text_field :firstName %>

      <%= f.label :lastName %>
      <%= f.text_field :lastName %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Save changes" %>
    <% end %>
  </div>
</div>
